header {
    background-color: #F37520;
}

header, 
header > .container {
    min-height: 64px;
}

footer {
    background-color: #454545;
}

section ul li {
    margin-top: 1rem;
}

section div [class~=col-sm-4] {
    background-color: #EDEDED;
}