.cor-de-fundo {
    background-color: #1B1B1B;
}

.list-group-item {
    border: 0;
}

.list-group.list-group-horizontal {
    overflow-x: hidden;
}

.barra-navegacao {
    height: 3rem;
}

.sub-titulos {
    color: #999898;
    padding-left: 1.25rem;
    padding-top: 1rem;
}

.tamanho-card {
    width: 16rem;
    height: 9rem;
}

.card-filmes {
    min-width: 17.6rem;
    min-height: 9.9rem;
}

.play {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    border: 0.2rem;
    border-style: solid;
    border-color: white;
}

.play-wrap {
    vertical-align: 50%;
}

.play-wrap:hover {
    text-decoration: none;
}

.fas.fa-play {
    color: red;
}

.relevancia {
    color: green;
    margin-right: 0.2rem !important;
}

.classificacao {
    background-color: #CDA521;
    color: black;
    border-radius: 0.2rem;
    margin-right: 0.2rem !important;
}

.estilo-filme {
    max-width: 5rem;
    margin-right: 0.1rem !important;
    vertical-align: top;
    line-height: 1.2;
}

.titulo-filme {
    margin-bottom: 0.4rem !important;
}

.filme-info {
    padding: 0.8rem !important;
    visibility: hidden;
    opacity: 0;
}

.card-filmes:hover > .filme-info {
    visibility: visible;
    opacity: 1;
    background: rgba(0,0,0,0.6);
    transition: opacity 0.8s linear;
}

.footer-links {
    color: #999898;
}

.footer-links:link {
    text-decoration: none;
}

.footer-links:hover {
    text-decoration: underline;
    color: #999898;
}

.list-group-item {
    background-color: #1B1B1B;
}

.botao-assistir {
    background-color: #E30F19;
}

.botao-assistir:hover {
    background-color: red;
}

.descricao-filme {
    color: #999898;
}

.card-principal {
    border: 0;
}

.avatar, .logo {
    height: 2.2rem;
}

.busca {
    background-color: #1B1B1B;
    height: 2rem;
}

.busca:focus {
    background-color: #1B1B1B;
}

.navegacao {
    color: #E30F19;
}

.navegacao:hover {
    color: #E30F19;
}

.navbar-toggler-icon {
    background-color: #1B1B1B;
    color: white;
}

.link-do-menu {
    color: #999898;
    text-decoration: none;
}

.link-do-menu:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.lista-menu {
    background-color: #1B1B1B;
    width: fit-content;
    padding-right: 1rem;
}

.linha-horizontal {
    background-color: #999898;
    height: 1px;
    margin-top: 0.5rem;
}

.card.card-principal {
    background-color: #1B1B1B;
}

@media (max-width: 991px) { 
    .logo {
        height: 1.8rem;
    }
}

@media (min-width: 992px) {
    .lista-menu {
        display: none;
    }
}

@media (min-width: 769px) {
    .imagem-principal {
        width: 600px;
        height: 338px;
    }
}

@media (min-width: 993px) {
    .imagem-principal {
        width: 810px;
        height: 456px;
        margin-top: -3rem;
    }
}
