* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

#grad1 {
    background-color: #9C27B0;
    background-image: linear-gradient(120deg, #FF4081, #81D4FA);
}

.card {
    z-index: 0;
    border: none;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.estacao-metro {
    width: 3.125rem;           /* makes the li a circle */
    height: 3.125rem;          /* makes the li a circle */
    line-height: 2.8125rem;    /* makes the icon inside the li's centralized */
    display: block;            /* moves the text of the li to the next line */
    font-size: 1.125rem;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;        /* makes the li a circle */
    margin: 0 auto 0.625rem auto;
    padding: 0.125rem;
}

.texto-estacao-wrap {
    max-width: 100% !important;
}

.texto-estacao-metro {
    width: 100%;
}

@media (max-width: 575px) { 
    .texto-estacao-metro {
        min-width: 10rem;
        min-height: 3rem;
        vertical-align: middle;
    }
}

@media (min-width: 576px) { 
    .linha-metro:after {
        content: '';               /* draw the line that links the li's */
        width: 25%;               /* draw the line that links the li's */
        height: 0.125rem;          /* height of the line that links the li's */
        background: lightgray;
        position: absolute;        /* if not present, then the line that links the li's disappear */
        /*left: 0;*/                   /* if present, then the line that links the first li from the left is displayed */
        top: 1.5625rem;            /* moves vertically the position of the line that links the li's */
        z-index: -1;
    }
}

@media (max-width: 575px) { 
    .linha-metro:after {
        content: '';               /* draw the line that links the li's */
        width: 20rem;               /* draw the line that links the li's */
        height: 0.125rem;          /* height of the line that links the li's */
        background: lightgray;
        position: absolute;        /* if not present, then the line that links the li's disappear */
        /*left: 0;*/                   /* if present, then the line that links the first li from the left is displayed */
        top: 12rem;            /* moves vertically the position of the line that links the li's */
        z-index: -1;
        transform: rotate(90deg);
        left: -16vw;
    }
}

